{{#> email-base emailTitle="Nuevo comentario en documento"}}
<p>Hola {{userName}},</p>

<p><strong>{{commenterName}}</strong> ha añadido un comentario en el documento <strong>{{documentTitle}}</strong>.</p>

<div class="info-box">
  <p><strong>Comentario:</strong></p>
  <p>{{commentContent}}</p>
</div>

<p>Puedes ver el comentario y responder haciendo clic en el siguiente botón:</p>

<div class="button-container">
  <a href="{{documentUrl}}" class="button">Ver comentario</a>
</div>
{{/email-base}}